<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Product Inventory
            </h1>
            <p class="lead">
                Welcome to our online platform, where you can seamlessly navigate our extensive warehouse inventory. 
            </p>
        </div>

        <div class="col-12 col-lg-6">
            <img src="https://previews.123rf.com/images/unkreatives/unkreatives1908/unkreatives190800020/132456076-clean-and-open-warehouse-stacked-with-white-sacks.jpg" alt="Uni" class="d-block mx-lg-auto img-fluid" width="300" />
        </div>
    </div>
</div>

<div class="container">
    <h1 class="mt-3">Current Item List</h1>
    <ng-container *ngIf="items$ | async as items">
        <table class="table table-bordered mt-3">
            <thead>
                <th>Name</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Last Inventory</th>
                <th>Last Manager</th>
                <th>Suppliers</th>
                <th> </th>
            </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{item.name}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.category}}</td>
                <td>{{item.lastInventory}}</td>
                <td>{{item.lastManager}}</td>
                <td>
                    <span *ngFor="let supplier of item.supplier">
                        <span class="badge bg-secondary me-2">{{supplier.name}}</span>
                    </span>
                </td>

            </tr>
        </tbody>
        </table>
    </ng-container>
</div>